body {
    min-width: 180px;
    background-color: #333333;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    
    color: #61b0f6;
}

.checkbox-1 {
    margin-left: 0.5em;
    height: 10px;
}

.checkbox-with-text:hover {
    cursor: pointer;
}

.checkbox-with-text::selection {
    user-select: none;
}

.text-1 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    
    color: #61b0f6;
}

.text-1::selection {
    user-select: none;
}